<div class="row pump-card" ng-app="pump" ng-controller="pump_controller">
    <a class="col col-3 pump-widget card" href="http://localhost:3000/#!/pump_des">
        <div class=" row card-body">
            <div class="col">
                <img src="../assest/icons/pump.png" alt="icon">
                <h1 class="title">pump 1</h1>
            </div>
            <div class="col">
                <span>health</span>
                <img src="../assest/icons/frequency.svg" alt="icon">
            </div>
            <div class="col">
                <p>vibration</p>
                <hr>
                <p>temperature</p>
                <hr>
                <p>db</p>
            </div>
            <div class="vl"></div>
        </div>
    </a>
</div>